<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');
    </style>
    <link rel="stylesheet" type="text/css" href="{{ '/assets/style.css' | relative_url }}">
</head>

<body>
    <div class="overlay"></div>
<div>
</div>
    <div id="main">
        <div id="left-col-intro">
            <h1>james's blog</h1>
            <div class="links">
                <p><a href="/">Home</a></p>
            </div>
        </div>
        <hr>
        <div class="two-col">
            <div>
                <div>
                    <h2>{{page.title}}</h2>
                    <div class="post-content">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
